@font-face {
    font-family: 'Inter';
    src: url('fonts/inter-300.woff2') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/inter-400.woff2') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/inter-500.woff2') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}	

@font-face {
    font-family: 'Inter';
    src: url('fonts/inter-600.woff2') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/inter-700.woff2') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('fonts/roboto-condensed-400.woff2') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('fonts/roboto-condensed-700.woff2') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
